body {
	background-color: #F5F5F5;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.projects {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
}

a.project img {
	display: block;
	width: 100%;
	height: ;
	margin-bottom: 10px;
}

#selfie {
	display: block;
	width: 50%;
	margin: 0 auto;
}

nav a {
	padding-right: 5px;
}